


.landingPageImg{
    background-image: url(https://img.freepik.com/free-photo/video-wall-featuring-multimedia-images-displayed-various-television-screens_157027-3170.jpg?t=st=1731065135~exp=1731068735~hmac=a76ae1e2db419df082d83d900eb15afa2a164c5550071b1503f99d11036275e5&w=1060);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
